.popup__close-button {
  position: absolute;
  transform: rotate(45deg);
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  top: -42px;
  right: -40px;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 5px;
  }
  }
  
  .popup__close-button:focus {
    outline: none;
    }