.elements__like-button {
  background-color: #ffffff;
  border: none;
  margin-right: 5px;
  padding: 0;
  margin-left: 25px;
  width:22px;
  height: 19px;
  background-size: cover;
  background-image: url("./../../../images/like-sign.png");
  cursor: pointer;
}

.elements__like-button:focus {
outline: none;
}

/*.elements__like-button:active {
  opacity: 1;
  background-size: cover;
  background-image: url("./../../../images/like-sign-filled.png");
}